@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

/* Fonts */
body,
input {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: rgb(146, 214, 216);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #fff;
  position: relative;
  width: 60%;
  height: 80vh;
  border-radius: 1.2rem;
  box-shadow: 0 60px 40px 10px rgba(33, 42, 83, 0.7);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.side-aisle {
  width: 40%;
  height: 100%;
  background: linear-gradient(to right bottom, #52b3b7, #2f979b);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-container {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-evenly;
}
.app-name-container {
  width: max-content;
  /* padding: 3px;
  padding-left: 2px; */
}
.app-name-container h2 {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  font-style: "poppins";
  font-weight: 400;
  position: relative;
  padding: 5px;
  top: 47%;
  left: 0%;
  font-size: 16px;
  text-align: center;
  padding: 8px;
}
.logo-container img {
  top: 0%;
  left: 2%;
  max-width: 100%;
  max-height: 150px;
}

.side-aisle-btn-container {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  /* flex-direction: column; */
}

.btn-signout-container {
  /* background-color: blue; */
  border: 2px solid rgb(33, 42, 83);
  border-radius: 0.6rem;
  margin-top: 20px;
  max-width: 40%;
  width: 35%;
  height: 60px;
  padding: 2px;
}

.admin-path {
  max-width: 40%;
  width: 35%;
  height: 55px;
  margin-top: 20px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 0.55rem;
  background-color: yellow;
  justify-content: space-around;
}

.admin-path:hover {
  background-color: rgb(10, 60, 95);

  cursor: pointer;
}
.admin-path:hover .admin-heading {
  cursor: pointer;
  color: whitesmoke;
}
.admin-heading {
  color: black;
}

.Signout {
  background-color: rgb(10, 60, 95);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  font-size: 16px;
  font-style: "poppins";
  font-weight: 100;
  text-align: center;
}

.Signout:hover {
  border: 2px solid rgb(33, 42, 83);
  background-color: rgb(233, 233, 233); /* Contrasting color for hover */
  color: rgb(33, 42, 83);
}
/* Color Scheme 3: rgb(10,60,95) */
.main-box {
  position: relative;
  width: 60%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.user-name {
  display: flex;
  background-color: rgb(253, 210, 71);
  padding: 5px;
  min-width: fit-content;
  width: 40%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  position: relative;
  left: 50%;
}
.user-name h2 {
  /* padding: 5px; */
  color: rgb(4, 4, 4);
  font-style: "poppins";
  font-weight: 500;
  font-size: 16px;
  pointer-events: none;
  margin-right: 5px;
}
.react-icons {
  size: 100rem;
}
.user-name .user-img {
  margin-left: 5px;
}

/* Contact Button */
.contact-button-container {
  text-align: center;
  margin-top: 20px;
  transition: opacity 0.3s ease-in-out;
  /* background-color: red; */
}

.contact-button {
  background-color: rgb(10, 60, 95);
  color: #fff;
  margin-right: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 1.3s ease-in-out;
}
.contact-button .content-b {
  opacity: 0;
}

.contact-button:hover {
  box-sizing: border-box;
  border: 2px solid rgb(33, 42, 83);
  background-color: rgb(233, 233, 233); /* Contrasting color for hover */
  color: rgb(33, 42, 83);
}

/* Change Owner Button */
.change-owner-button-container {
  text-align: center;
  margin-top: 20px;
}

.change-owner {
  background-color: rgb(98, 193, 197);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.change-owner button:hover {
  background-color: rgb(24, 137, 141); /* Contrasting color for hover */
}

.key-owner-container {
  /* background-color: red; */
  width: 100%;
  height: 60%;
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.key-owner-name {
  text-align: center;
  font-style: "poppins";
  font-weight: 400;
}

.ownername {
  color: rgb(33, 42, 83);
  font-weight: 800;
}

/********************************************/
.alert-messages {
  position: absolute;
  inset: 58% 10%;
}
.keys-possesion-claimers {
  display: flex;
  overflow-x: auto;
}
.individual-keys-possesion-claimers {
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
}

.sent-message-status-box {
  position: relative;
  top: -8%;
  left: 8%;
}
/********************************************/

@media (max-width: 1250px) {
  .box {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .box {
    width: 90%;
  }
  .user-name {
    left: 51%;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0;
  }

  .box {
    box-shadow: none;
    width: 93%;
    height: 97vh;
    border-radius: 2rem;
    background: rgb(255, 255, 255); /* Semi-transparent white background */
    backdrop-filter: blur(9px);
    margin: 0;
    position: relative;
  }

  .side-aisle {
    border-radius: 2rem;
    border-radius: 0;
    background: transparent;
    height: 0px;
  }
  .main-box {
    /* display: none; */
    border-radius: 2rem;
    width: 100%;
    background: transparent;
    /* background: red; */
    padding: 0;
  }
  .logo-container {
    flex-direction: column;
    align-items: space-around;
    height: 100vh;
  }
  .logo {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
  }
  .logo-container h2 {
    display: none;
  }

  .app-name-container {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .button-container {
    /* background-color: red; */
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
  }
  .contact-button,
  .change-owner {
    width: 100%;
    margin: 0;
  }
  .user-name {
    /* background: rgb(255, 0, 0); */
    padding: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top: 38px;
    background-color: rgb(125, 205, 208);
    border: 2px solid rgb(33, 42, 83);
    min-width: fit-content;
    width: 150px;
    height: fit-content;
    /* justify-content: center; */
  }

  .user-name h2 {
    margin: 2px;
    font-size: 14px;
    color: rgb(33, 42, 83);
    /* background-color: yellow; */
  }
  .key-owner-container {
    /* background: blue; */
    position: fixed;
    top: 60px;
    left: 0px;
    width: 90%;
  }

  /* .side-aisle-btn-container {
    background-color: red;
  } */
  .btn-signout-container {
    position: absolute;
    width: 130px;
    height: 50px;
    border-radius: 0.55rem;
    top: 76%;
    border: 2px solid rgb(253, 210, 71);
    left: 41%;
    transform: translateX(-100%);
    /* background-color: red; */
  }
  .Signout {
    border-radius: 0.5rem;
    font-weight: 400;
    background-color: rgb(253, 210, 71);
  }

  .admin-path {
    position: absolute;
    background-color: rgb(10, 60, 95);
    width: 130px;
    height: 50px;
    border-radius: 0.55rem;
    top: 85%;
    border: 2px solid rgb(33, 42, 83);
    left: 41%;
    transform: translateX(-100%);
  }

  .admin-heading {
    color: whitesmoke;
    font-size: 0.9rem;
  }
  .key-owner-name {
    font-weight: 400;
  }
  /********************************************/
  .sent-message-status-box {
    /* background-color: red; */
    width: 80%;
    text-align: center;
    position: fixed;
    top: 62%;
  }
}
